body{
font-family:'Inter',sans-serif;
margin:0;
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:linear-gradient(135deg,#1f2937,#374151);
color:white;
text-align:center;
}

:root {
    --amarelo: yellow;
    --branco: white;
    --preto: black;
    --fhemig: #0096bb;

}

.container{
max-width:700px;
padding:40px;
}

h1{
font-size:44px;
margin-bottom:10px;
}

p{
font-size:18px;
opacity:0.9;
}

.btn{
margin-top:30px;
display:inline-block;
padding:14px 28px;
background:#f2c811;
color:black;
text-decoration:none;
font-weight:600;
border-radius:8px;
transition:0.2s;
}

.btn:hover{
transform:scale(1.05);
}